// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.profile-bottom-gradient {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.4) 28%,
        rgba(0, 0, 0, 0) 100%
    );
}
.main-gradient {
    background: #323847;
    background: -webkit-linear-gradient(
        -45deg,
        rgba(18, 18, 18, 1) 0%,
        rgba(39, 39, 39, 1) 100%
    );
    background: linear-gradient(
        -45deg,
        rgba(18, 18, 18, 1) 0%,
        rgba(39, 39, 39, 1) 100%
    );
}
// .main-gradient {
//     background: #323847;
//     background: -webkit-linear-gradient(
//         to right,
//         rgba(63, 76, 107, 1) 0%,
//         rgba(96, 108, 136, 1) 100%
//     );
//     background: linear-gradient(
//         to right,
//         rgba(63, 76, 107, 1) 0%,
//         rgba(96, 108, 136, 1) 100%
//     );
// }
.main-gradient-transparent {
    background: #323847;
    background: -webkit-linear-gradient(
        to right,
        rgba(63, 76, 107, 0.3) 0%,
        rgba(96, 108, 136, 0.3) 100%
    );
    background: linear-gradient(
        to right,
        rgba(63, 76, 107, 0.3) 0%,
        rgba(96, 108, 136, 0.3) 100%
    );
}
// .theme--light .main-background-color-gradient {
//     background: -webkit-linear-gradient(
//         to right,
//         rgba(63, 76, 107, 0.2) 0%,
//         rgba(96, 108, 136, 0.2) 100%
//     );
//     background: linear-gradient(
//         to right,
//         rgba(58, 72, 104, 0.2) 0%,
//         rgba(96, 108, 136, 0.2) 100%
//     );
// }

// .main-gradient {
//     background: #00c6ff; /* fallback for old browsers */
//     background: -webkit-linear-gradient(
//         235deg,
//         #0072ff,
//         #00c6ff
//     ); /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(
//         235deg,
//         #0072ff,
//         #00c6ff
//     ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }
// .theme--light .main-background-color-gradient {
//     background: rgba(#586968, 0.2);
// }
// .theme--light .main-background-color-gradient {
//     @extend .main-gradient;
// }

.theme--light .v-navigation-drawer__content,
.theme--light .v-navigation-drawer__append,
.theme--light .v-navigation-drawer__prepend {
    background: rgba(#fff, 0.85);
}

.theme--light .transparent-overlay {
    background: rgba(255, 255, 255, 0.5) !important;
}
.theme--dark .transparent-overlay {
    background: rgba(0, 0, 0, 0.5) !important;
}
// Toolbars
.v-toolbar__no_pad .v-toolbar__content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
// Data Tables
.v-data-table__wrapper table tbody tr td {
    white-space: nowrap;
}
.v-data-table__wrapper table .month,
.v-data-table__wrapper table .quart,
.v-data-table__wrapper table .years {
    text-align: end !important;
    font-size: 0.8rem !important;
}
// .v-data-table__wrapper table tbody .data-row .month:hover {
//     cursor: pointer;
// }
.v-data-table__wrapper table .month,
.v-data-table__wrapper table .month_header {
    background-color: transparent;
}
.v-data-table__wrapper table .quart,
.v-data-table__wrapper table .quart_header,
.v-data-table__wrapper table .years,
.v-data-table__wrapper table .years_header {
    font-weight: bolder;
    // border-left: 1px solid;
    // border-right: 1px solid;
}

.v-data-table__wrapper table .years,
.v-data-table__wrapper table .years_header {
    background-color: transparent;
}
.v-data-table__wrapper table .dttit_header,
.v-data-table__wrapper table .month_header,
.v-data-table__wrapper table .quart_header,
.v-data-table__wrapper table .years_header {
    // border-bottom: 1px solid !important;
    // border-top: 1px solid !important;
}
.v-data-table__wrapper table .result-row td {
    font-weight: bold;
    // border-bottom: solid !important;
}
.v-data-table__wrapper table .divider td {
    pointer-events: none;
    height: 5rem !important;
    // border-bottom: 1px solid !important;
    // border-left: none;
    // border-right: none;
}
/* Themes */
.theme--dark .v-data-table__wrapper table tr th,
.theme--dark .v-data-table__wrapper table tr td {
    // border-color: #6e6e6e;
}
.theme--light .v-data-table__wrapper table tr th,
.theme--light .v-data-table__wrapper table tr td {
    // border-color: #cecdcf;
}
.theme--light .v-data-table__wrapper table tbody tr:hover td {
    background: #eeedef;
}
.theme--dark .v-data-table__wrapper table tbody tr:hover td {
    background: #2e2e2e;
}

// Website
.btn-appbar-active {
    color: #fff !important;
    border-bottom: 2px solid #fff !important;
    background: none !important;
    background-color: #06f !important;
}
